{% extends "base.html" %}

{% block head_block %}
    <script>
      COMPUTER_PNG_URL = "{{ STATIC_URL }}/img/computer.png";
      COMPUTER_SMALL_PNG_URL = "{{ STATIC_URL }}/img/computer_small.png";
      TO_SUBMIT_TO_URL ="{% url views.add_links %}";
      TO_GET_UPDATES_URL = "{% url views.get_updates %}";

      DEFAULT_CENTER_LATITUDE = {{  default_center_latitude  }};
      DEFAULT_CENTER_LONGITUDE = {{  default_center_longitude  }};
      DEFAULT_ZOOM_LEVEL = {{  default_zoom_level  }};
      DEFAULT_MAP_SATELITE = (1 == {{  default_map_satelite  }});

    </script>

    
    <script>
      $(document).ready( map_initialize );
    </script>
{% endblock head_block %}

{% block body_block %}



    <div class="rhs">
      <!-- Used to render subgraph using sigma.js -->    
      <div id="sigma-canvas" class="sigma-canvas">
      </div>
      <!-- Label on top of graph telling what it is -->
      <div class="logical-label">
        <h4> Logical network view </h4>
      </div>
    </div>


    <!-- Displays left half of screen: form for submitting more links as -->
    <!-- well as physical layout of machines and links -->
    <div class="container-fluid lhs">

      <div id="map-parent" class="map-parent">
        <!-- without explicitly adding width and height 100% to style, -->
        <!-- nothing shows up -->
        <div id="map-canvas" style="width:100%; height:100%;">
          <!-- For google map -->
        </div>

        <div id="map-expand" class="map-expand">
          Click here to expand map
        </div>
      </div> <!-- closes map parent -->

      <br/>
      <div id="submission-div">
        <h4>The Stanford Network </h4>
          Scroll over a cluster on the map to see the logical layout
          of the nodes inside.  Or, submit additional hosts and links
          using the form below.
        <hr/>

        {% if user.is_authenticated %}
        Logged in as {{ user.username }}.
        <!-- To submit more links -->
            <table>
              <tr>
                <td>IP 1: </td> <td><input type="text" id="ip_addr_1"  name="ip_addr_1"/></td>
                <td style="width:15px"></td>
                <td>Host 1: </td><td><input type="text" id="hostname_1" name="hostname_1"/></td>
              </tr>
              <tr>
                <td>IP 2: </td><td><input type="text" id="ip_addr_2" name="ip_addr_2"/></td>
                <td style="width:15px"></td>
                <td>Host 2: </td><td><input type="text" id="hostname_2" name="hostname_2"/></td>
              </tr>
            </table>
            <input type="submit" value="submit" id="submitter">
          </div> <!-- closes submission div -->
        {% else %}
          <p> Must <a href="webauth/login/">log in</a> to submit links </p>
        {% endif %}

    </div> <!-- closes container-fluid -->
    

{% endblock body_block %}
